<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>Previsão de Phishing</title>

</head>
<body>
    <h1>Verificação de Phishing</h1>


    <form method="POST">
        {% csrf_token %}
        <label for="url">URL:</label>
        <input type="text" name="url" id="url" required><br><br>

        <label for="NumDots">Digite o número de pontos presentes na URL:</label>
        <input type="number" name="NumDots" id="NumDots" required><br><br>

        <label for="NumDash">Digite o úmero de traços presentes na URL:</label>
        <input type="number" name="NumDash" id="NumDash" required><br><br>

        <label for="NumSensitiveWords">Número de palavras sensíveis:</label>
        <input type="number" name="NumSensitiveWords" id="NumSensitiveWords" required><br><br>

        <label for="PctExtHyperlinks">Qual a porcentagem de links nesta página que levam para outros sites?</label>
        <input type="number" step="any" name="PctExtHyperlinks" id="PctExtHyperlinks" required><br><br>

        <label for="PctExtResourceUrls">Qual a porcentagem de imagens, vídeos ou outros recursos que vêm de outros sites?</label>
        <input type="number" step="any" name="PctExtResourceUrls" id="PctExtResourceUrls" required><br><br>

        <label for="PctNullSelfRedirectHyperlinks">Qual a porcentagem de links que não levam para lugar nenhum?</label>
        <input type="number" step="any" name="PctNullSelfRedirectHyperlinks" id="PctNullSelfRedirectHyperlinks" required><br><br>

        <label for="FrequentDomainNameMismatch">O site apresenta erros frequentes ao tentar encontrar seu endereço na internet?</label>
        <input type="number" name="FrequentDomainNameMismatch" id="FrequentDomainNameMismatch" required><br><br>


        <!-- Perguntas com Botão Radio -->
        
        <label>O site usa formulários inseguros?</label>
        <div class="radio-group">
            <label>
                <input type="radio" name="InsecureForms" value="sim" id="InsecureForms" required>
                Sim
            </label>
            <label>
                <input type="radio" name="InsecureForms" value="não" id="InsecureForms">
                Não
            </label>
        </div>
        <br>

        <label>Este site coleta dados para enviar por e-mail?</label>
        <div class="radio-group">
            <label>
                <input type="radio" name="SubmitInfoToEmail" value="sim" id="SubmitInfoToEmailSim" required>
                Sim
            </label>
            <label>
                <input type="radio" name="SubmitInfoToEmail" value="não" id="SubmitInfoToEmailNao">
                Não
            </label>
        </div>
        <br>

        <label>O site usa elementos de exibição de outros sites (Iframe ou Frame)?</label>
        <div class="radio-group">
            <label>
                <input type="radio" name="IframeOrFrame" value="sim" id="IframeOrFrameSim" required>
                Sim
            </label>
            <label>
                <input type="radio" name="IframeOrFrame" value="não" id="IframeOrFrameNao">
                Não
            </label>
        </div>
        <br>

        <button type="submit">Verificar</button>
    </form>

    <div class="result-container">
        {% if prediction %}
            <h2>Resultado: {{ prediction }}</h2>
        {% else %}
            <p>Por favor, insira os dados e clique em "Verificar" para realizar a análise.</p>
        {% endif %}
    </div>


</body>
</html>
